:root {
    --white-color: 255, 255, 255;
    --white-2-color: 240, 241, 245;
    --primary-color: 91, 70, 246;
    --warning-color: 253, 141, 30;
    --success-color: 36, 174, 143;
    --dark-color: 29, 45, 63;
    --dark-gray-1: 132, 132, 132;
    --dark-gray-2: 53, 53, 53;
    --light-gray: 243, 245, 246;
    --light-gray-2: 212, 216, 222;
    --dark-transparent: 0, 0, 0, 0.15;
    --dark-gray-transparent: 100, 100, 100, 0.5;
    --danger-color: 255, 68, 69;
}
