.two-fa-section {
    .right,
    .left {
        position: absolute;
    }

    .left {
        bottom: 40px;
        left: 240px;
    }

    .right {
        top: 80px;
        right: 240px;
    }
}
