.email-verification {
    .right,
    .left {
        position: absolute;
    }

    .left {
        bottom: 40px;
        left: 240px;
    }

    .right {
        top: 80px;
        right: 240px;
    }

    .pincode-input-text:focus {
        border: 1px solid var(--rgb-text-primary) !important;
    }
}
