.register-screen {
    .left,
    .right {
        position: absolute;
    }

    .left {
        bottom: -80px;
        left: 200px;
    }

    .right {
        top: 100px;
        right: 200px;
    }

    .card-register {
        background-color: var(--rgb-card-auth);
    }
}
